{% extends "base.html" %}

{% block main %}
<html>
    <head>
        <title> </title>
    </head>
    <body>
        <h1>Profile</h1>
        <br>
        <hr>
        <div>
            <img src= "https://lh3.googleusercontent.com/QOUM_fPu0q7TTCCwrgOgQX1JfEcnWJK97EUzFJ-tqfPcMHBSUUXptSQ6GR2opw_zfMQ=w300" align= "left" >
        </div>
        <div>
            <h3>Son Goku</h3>
            <p>Todays date is {{time}}</p>
            <p><b>Username:</b> Goku</p>
            <p><b>ID Number:</b> 620067797</p>
            <p><b>Age:</b> 24</p>
            <p><b>Gender:</b> Male</p>
            <br><br>
            <p>I am a lengendary super saiyan</p>
        </div>
    </body>
</html>
{% endblock %}